# Godot 4+ specific ignores
.godot/
/android/
/data_FakeRadioOverlay_windows_x86_64
.editorconfig
*.cfg

# Dev.
/logs
*.exe
*.pck

# Stuff I probably shouldn't be uploading.
/music/*
*.otf
*.TMP
*.m3u
